<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color: white;
        }
        #playername{
            font-family: Georgia;
            text-transform: uppercase;
            font-size: x-large;
        }
        #player_pos{text-transform: uppercase}

        table{
            float: left;
            display:inline-block;
            margin-left: 1px;
            margin-right: 1px;
            margin-top: 10px;
            background-color: red
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1>Georgia Bulldogs Receiving Stats 2015</h1></center>
{%  for player in players %}
    <table border="4"cellpadding="4" cellspacing="4" bordercolor="black">
    <tr>
    <th><div id = "playername"><strong>{{ player }}</strong></div></th>
    </tr>
        <tr>
    <td><div>RECEPTIONS: {{ player.receptions }}</div></td>
        </tr>
        <tr>
    <td><div>RECEIVING YARDS: {{ player.receiving_yards }}</div></td>
            </tr>
        <tr>
    <td><div>TOUCHDOWNS: {{ player.touchdowns }}</div></td>
            </tr>
        <tr>
    <td><div id = "player_pos">POSITION: {{ player.position }}</div></td>
            </tr>
    </table>
{% endfor %}
</body>
</html>
